<h3>Concerts next month:</h3>

<ul>
	<% @gigs_month.each do |g|  %>
		<li class="sidebar__li">
			<%= g.date.strftime('%Y-%b-%e') %><br>
			<%= link_to(g.artist, gig_path(g)) %><br>
			at <%= g.venue %> in <%= "#{g.city}" %>
		</li>
	<% end %>
</ul>