<!DOCTYPE html>
<html>
<head>
  <title>Concert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>Header: Awesome concerts here...</h2>

<%= yield %>

<p style="color:grey">Footer: 2015 by Ironhackers</p>

</body>
</html>
